.header {
  position: fixed;
  height: 64px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  &-toolbar {
    background: #5caf2b !important;

    .md-button {
      height: 48px;
      width: 48px;

      md-icon {
        font-size: 32px;
      }
    }
  }

  &-logo {
    height: 60px;
    width: 149px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../app/img/careHUD-logo-white.png');

  }
}