.organizations {
  z-index: 1;

  &-search {
    position: fixed;
    height: 64px;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    padding-left: 32px;

    input {
      width: 100%;
      height: 64px;
      border: none;

      &:focus {
        outline-width: 0;
      }
    }
  }

  &-container {
    padding: 114px 96px;
  }

  &-results-container {
    padding: 0;
    margin-right: 32px;
  }

  &-results-item {
    width: 295px;
    height: 100px;
    background-color: #d8d8d8;
    margin-bottom: 4px;

    .md-avatar {
      background-color: #fff;
      border-radius: 50%;
      height: 42px;
      width: 42px;
    }

    md-icon {
      position: relative;
      left: 4px;
      top: 1px;
      font-size: 32px;
    }

    &.active {
      background-color: rgba(155, 155, 155, 0.74);

      .md-avatar {
        background-color: #2196f3;

        md-icon {
          color: #fff;
        }
      }

    }
  }

  &-view-item {
    position: fixed;
    left: calc(295px + 96px + 32px);
    right: 96px;

    &-header {
      h3 {
        font-size: 48px;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }

      h4 {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: -0.2px;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }
    }

    &-subheader {
      h2 {
        font-size: 22px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }

      h3 {
        font-size: 16px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }
    }

    md-divider {
      border: solid 1px #979797;
      margin-bottom: 16px;
    }

    .bed-container {
      overflow: auto;
      height: 500px;
      padding: 8px;
    }

    .bed-details {
      div {
        md-icon {
          font-size: 48px;
          height: 48px;
          width: 48px;
          color: #5caf2b;

          &.active {
            color: rgba(0, 0, 0, 0.48);
          }
        }

      }

      h4 {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.48);
        margin: 0;
      }

      md-grid-tile-footer  {
        background-color: #5caf2b;
        color: #fff;

        figcaption {
          height: 100%;
          width: 100%;

          .md-button {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

            &.active {
              background-color: rgba(210, 210, 210, 1) !important;
              color: rgba(0, 0, 0, 0.48);
            }
          }
        }

      }
    }

  }
}